

    <div *ngIf="successMessage" class="message success">
        {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="message error">
        {{ errorMessage }}
    </div>

    <h1>{{ isUpdating ? 'Actualizar Menu' : 'Crear Menu' }}</h1>
    <h2>Ingrese los datos:</h2>

    <form [formGroup]="menuForm" (ngSubmit)="submit()">
        <label for="nombre">Nombre del Menú</label>
        <input id="nombre" formControlName="nombre" type="text" [value]="isUpdating ? menuForm.get('nombre')?.value : ''" />
    
        <label>
        <input type="checkbox" formControlName="vegetariano" [checked]="isUpdating && menuForm.get('vegetariano')?.value" /> Vegetariano
        </label>
    
        <label>
        <input type="checkbox" formControlName="aptoCeliacos" [checked]="isUpdating && menuForm.get('aptoCeliacos')?.value" /> Apto para Celiacos
        </label>
    
        <label for="menuDelDiaId">Menu del Dia</label>
        <select id="menuDelDiaId" formControlName="menuDelDiaId" [value]="isUpdating ? menuForm.get('menuDelDiaId')?.value : null">
        <option *ngFor="let menuDelDia of menusDelDia" [value]="menuDelDia">
            {{ menuDelDia }}
        </option>
        </select>

        <label>Buscar Comidas</label>
        <input type="text" [(ngModel)]="searchQuery" (input)="filterComidas()" placeholder="Buscar comidas" [ngModelOptions]="{ standalone: true }" />

    
        <label>Comidas</label>
        <div *ngFor="let comida of getVisibleComidas()">
        <input 
            type="checkbox" 
            [value]="comida.id" 
            (change)="onComidaChange($event)"
            [checked]="isUpdating && menuForm.get('comidaIds')?.value?.includes(comida.id)" 
        /> 
        {{ comida.nombre }}
        </div>
    
        <button type="submit">{{ isUpdating ? 'Actualizar' : 'Crear' }}</button>
        <button type="button" (click)="navigateToMenus()" >Volver a Menus</button>
    </form>
