<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Menús</title>
  <link rel="stylesheet" href="./menu.component.css">
</head>
<body>
  <div class="container">
    <h1>Menus</h1>
    
    <div class="actions">
      <button (click)="createMenu()">Crear Menu</button>
    </div>

    <div *ngIf="menus.length === 0" class="no-menus">
        <p>No hay menus registrados.</p>
      </div>

    <table *ngIf="menus.length > 0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Vegetariano</th>
          <th>Apto Celiacos</th>
          <th>Actualizar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus">
          <td>{{ menu.nombre }}</td>
          <td>{{ menu.vegetariano ? 'Si' : 'No' }}</td>
          <td>{{ menu.aptoCeliacos ? 'Si' : 'No' }}</td>
          <td>
            <button (click)="updateMenu(menu.id)">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
