  <div class="container">
    <h1>Menus</h1>
    
    <div class="actions">
      <button (click)="createMenu()">Crear Menu</button>
    </div>

    <div *ngIf="menus.length === 0" class="no-menus">
        <p>No hay menus registrados.</p>
      </div>

    <table *ngIf="menus.length > 0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Vegetariano</th>
          <th>Apto Celiacos</th>
          <th>Actualizar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus">
          <td>{{ menu.nombre }}</td>
          <td>{{ menu.vegetariano ? 'Si' : 'No' }}</td>
          <td>{{ menu.aptoCeliacos ? 'Si' : 'No' }}</td>
          <td>
            <button (click)="updateMenu(menu.id)">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <div class="pagination">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage <= 0">
      Anterior
    </button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages() }}</span>
    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage >= totalPages() - 1"
    >
      Siguiente
    </button>
  </div>