<div class="container">
  <h1>Comidas</h1>

  <div class="actions">
    <button (click)="createComida()">Crear comida</button>
  </div>

  <div *ngIf="comidas.length === 0" class="no-comidas">
    <p>No hay comidas registrados.</p>
  </div>

  <table *ngIf="comidas.length > 0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comida of comidas">
        <td>{{ comida.nombre }}</td>
        <td>{{ comida.precio }}</td>
        <td>
          <button (click)="updateComida(comida.id)">Actualizar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Paginación -->
  <div class="pagination">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage <= 0">
      Anterior
    </button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages() }}</span>
    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage >= totalPages() - 1"
    >
      Siguiente
    </button>
  </div>
</div>
