/* Contenedor principal */
.container {
  margin-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para las tarjetas */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

/* Efecto hover en las tarjetas */
.card:hover {
  transform: scale(1.05);
}

/* Títulos de las tarjetas */
.card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: rgb(34, 139, 34); /* Verde oscuro para los títulos */
}

/* Estilo para los botones en las tarjetas */
.card button {
  margin-top: 12px;
  padding: 10px 15px;
  background-color: rgb(34, 139, 34);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

/* Efecto hover en los botones */
.card button:hover {
  background-color: rgb(28, 120, 28);
  border-color: rgb(28, 120, 28);
}

/* Texto dentro de las tarjetas */
.card p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 12px;
}

/* Títulos de la página */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(34, 139, 34); /* Verde oscuro para énfasis */
  padding-bottom: 10px;
}

p.lead {
  font-size: 1.2rem;
  color: #555;
}
